name: Basic Checks

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    name: Java ${{ matrix.Java }} Basic Checks

    steps:
    - uses: actions/checkout@v1
    - name: Setup java
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: ${{ matrix.java }}
    - name: Test
      run: ./gradlew ciCheck
